*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--mainColor);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondColor);
}
:root{
    --mainColor:#6D4DC8;
    --secondColor:#5429cc;
    --Btn:#44D724;
}a{
    text-decoration: none;
    color: white;
}.center{
    margin:5px auto;
}.read-btn{
    background-color: #eee;
    color: #757575;
    padding: 5px 13px;
    font-size: 15px;
    display: block;
    width: 60px;
    text-align: center;
    margin: 10px 0;
}

input:not([type="checkbox"]){
    font-size: 13px;
    padding: 5px;
    border:0;
    border-radius: 0;
    height: 36px;
}input[type="submit"]{
    background-color: var(--Btn);
    padding: 0 17px;
    height: 37px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
}input:focus{
    outline: 0;
}.form-group{
    margin: 5px;
}
/* ################ */
.page{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: "header header header header header header"
                            "slide slide slide slide slide slide"
                            "con con con con con con"
                            "footer footer footer footer footer footer";
    grid-template-rows: 80px auto auto auto;
}
/* ############## */

.header{
    grid-area: header;
    display: flex;
    background-color: black;
}
.header .logo{
    flex-grow: 1;
    display: flex;
    justify-content: right;
}.header .logo img{
    width: 185px;
    height: 54px;
    margin-top: 10px;
}
/* Nav */
.header .nav{
    flex-grow: 2;
    padding: 11px 0;
}.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}.nav ul li{
    padding: 20px 7px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
 }.nav ul li a{
    padding: 20px 32px;
 }.nav ul a:hover{
    color:var(--mainColor,#6D4DC8);
}
/* Slider */
.slider{
    grid-area: slide;
}

.slider img{
    height: 500px;
    min-width: 100%;
}
.slider .section {
    background-color: var(--mainColor,#6D4DC8);
    text-align: center;
    padding: 60px 0 20px 0;
    color:white;
    margin-top: -4px;

}
.slider .section .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 29px;
    
}
.slider .section .description{
    font-size: 18px;
}
.slider .section form {
    margin:50px auto
}
.slider .section form *{
    display: inline-block;
}
/* .slider .section form input{
    display: flex;
} */
.slider .section form input:not([placeholder="City"],[type="checkbox"],[type="submit"]){
    position: relative;
    padding-left: 35px;
    height: 36px;
}
.slider .section form span{
    background-color: #eee;
    color: rgb(42, 42, 42);
    padding: 11px;
    height: 36px;
    position: absolute;
    z-index: 1;
}
/* End Slider */
.content{
    grid-area: con;
}
/* Section */
.section{
    text-align: center;
    padding: 60px 0 20px 0;
    border-bottom: 2px solid var(--secondColor);
}
.section .container{
    display: flex;
    flex-direction: row;
}
.section .description{
    font-size: 18px;
}
.section .description p{
    width: 50%;
    margin: 20px auto;
}.section .title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 29px;  
}
.section .featured-box{
    text-align: left;
    display: flex;
    margin: 60px;
    color:#626d79;
}.section .featured-box:hover .logo{
    background-color: var(--Btn);
    color:var(--mainColor)
}
.section .featured-box .logo{
    font-size: 20px;
    margin: 0 20px 0 0px;
    padding: 13px;
    background-color: var(--mainColor);
    color: white;
    width: 142px;
    height: 49px;
    text-align: center;
    transition: background-color,color .3s ease-in-out;
}.featured-box .description .slag{
    font-weight: bold;
}
.section .featured-box figure{
    flex: none;
}
.section .featured-box figure img{
    border-bottom: 5px solid var(--mainColor);
}.section .section-projects{
    display: block;
}.section .section-projects .slag{
    margin: 5px 0 12px;
}
/* End section  */
.footer{
    grid-area: footer;
    background-color: #000;
}
.footer .social-media{
    background-color: var(--mainColor);
    color: white;
    padding: 10px 0 ;
    
}.footer .social-media ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.footer .social-media li{
    padding: 10px 20px;
    font-size: 32px;
    transition: color .3s ease-in-out;
}.footer .social-media li:hover{
    color: var(--Btn);
}
.foot{
    padding: 20px 0;
    display:flex;
    justify-content: space-around;
    color: #b8b8b8 !important;
    font-size: 12px;
}.foot .links ul{
    display: flex;
    list-style: none;
}.foot .links ul li a{
    color: #b8b8b8 ;
    padding: 0 20px;
    transition: color .3s ease-in-out;
}.foot .links ul li a:hover{
    color: var(--Btn);
}